* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Degular';
    src: url('/src/assets/fonts/DegularDisplay-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Degular-regular';
    src: url('/src/assets/fonts/DegularDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'regular';
    src: url('/src/assets/fonts/42dotsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
