.hero-content{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh -  70px)
}

.badge{
    font-family: 'regular';
    font-size: 0.9rem;
    background-color: #f9fcff;
    padding: 5px 15px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 15px;
    margin-bottom: 20px;
}

.hero-title{
    background: linear-gradient(180deg, #00438a 0%, #00abe4 100%);
    background-clip: text;
    margin: 0 auto;
    font-family: 'Degular', serif;
    font-size: 3.6rem;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
    color: transparent;
}

.hero-title span{
    font-size: 3.8rem;
}

.hero-subtitle{
    font-size: 1.2rem;
    max-width: 800px;
    text-align: center;
    font-family: 'regular';
    color: rgba(0, 0, 0, 0.671);
}

.search-container{
    font-family: 'regular';
    
    margin: 40px auto;
    display: flex;
    gap: 10px;
    background: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 32px;
    border: 1px solid #007bff;
}

.search-container input{
    font-family: 'regular';
    flex: 1;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    min-width: 640px;
    color: #575757;
}

.search-button{
    font-family: 'regular';
    border: 1px solid transparent;
    font-size: 0.9rem;
    padding: 0 25px;
    background-color: #007bff;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.search-button:hover{
    color: #007bff;
    border: 1px solid #007bff;
    background-color: #ffffff;
    transform: translateY(-1px);
}

.stats{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.stat-card{
    background-color: #ffffff;
    border: 1px solid #007bff; 
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    color: #007bff;

}

.stat-card h3{
    font-family: 'degular';
    font-size: 2rem;
    margin:  10px 0 6px 0;
}

.stat-card p {
    font-family: 'degular';
    margin: 0;
    padding: 0;
    letter-spacing: 1.1px;
}

.hall{
    display: flex;
    width: 100%;
}

.hall-container{
    display: flex;
    align-items: flex-end;
    background-color: #ffebeb;
    padding: 30px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.hall-title{
    display: flex;
    flex-direction: column;
    font-family: 'degular';
}

.hall-title h2{
    font-size: 2.5rem;
    color: #007bff;
}

.hall-title p{
    font-family: 'regular';
    color: #575757;
}



